<html lang="en">
<head>
<meta charset="UTF-8"> 
<link rel="stylesheet" href="lib/angular-material/angular-material.css">
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/angular-messages/angular-messages.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<style>
canvas {
	height: 60vh;
	width: 30vw;
	border: 1px solid black;
}
</style>
<script>
'use strict';

angular.module('WMJS', ['ngMaterial'])
.controller('WMJSCtrl', [
	'$timeout',
	function ($timeout) {
		var self = this;
		
		self.original = document.getElementById('wm-original');
		self.watermark = document.getElementById('wm-watermark');
		self.processed = document.getElementById('wm-processed');
		self.analyzed = document.getElementById('wm-analyzed');
		
		self.file = document.getElementById('wm-file');
		self.download = document.getElementById('wm-download');
		
		self.canvases = [self.original, self.watermark, self.processed, self.analyzed];
		
		self.clear = function () {
			self.text = 'WMJS';
			self.lighten = 1;
			self.randomness = 10;
			
			self.file.value = null;
			
			self.canvases.forEach(function (canvas) {
				canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
			});
		};
		
		self.clear();
		
		self.file.onchange = function (e) {
			$timeout(function () {
				var path = self.file.value.split(/\/|\\/);
				var name = path[path.length - 1];
				name = name.substring(0, name.indexOf('.'));
				self.name = name + 'wm.png';
			});
			
			var reader = new FileReader();
			reader.onload = function (event) {
				var img = new Image();
				img.onload = function () {
					var viewportWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
					var viewportHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
					var canvas = self.original;
					var context = canvas.getContext('2d');
					var width = 0;
					var height = 0;
					if (img.width > img.height) {
						width = viewportWidth * 0.3;
						height = width * img.height / img.width;
					} else {
						height = viewportHeight * 0.6;
						width = height * img.width / img.height;
					}
					self.canvases.forEach(function (c) {
						c.width = img.width;
						c.height = img.height;
						c.style.width = width + 'px';
						c.style.height = height + 'px';
					});
					context.drawImage(img, 0, 0);
					self.analyze();
					self.update();
				};
				img.src = event.target.result;
			};
			reader.readAsDataURL(e.target.files[0]);
		};
		
		self.update = function () {
			if (!self.file.value) {
				return;
			}
			
			var text = self.text;
			
			var canvas = self.watermark;
			var context = canvas.getContext('2d');
			
			context.clearRect(0, 0, canvas.width, canvas.height);
			
			var size = Math.min(canvas.height, canvas.width) / 4;
			
			function getRandom() {
				return self.randomness / 2 - Math.random() * self.randomness;
			}
			
			size *= 1 + getRandom() / 100;
			
			context.font = 'bold ' + size + 'px sans-serif';
			
			var measure = context.measureText(text);
			var width = measure.width;
			
			var x = canvas.width / 2 - width / 2;
			var y = canvas.height / 2
			
			x += getRandom() / 100 * size;
			y += getRandom() / 100 * size;
			
			context.fillText(text, x, y);
			
			var watermark = context.getImageData(0, 0, canvas.width, canvas.height).data;
			
			var original = self.original;
			
			canvas = self.processed;
			context = canvas.getContext('2d');
			
			context.clearRect(0, 0, canvas.width, canvas.height);
			
			context.drawImage(original, 0, 0);
			
			var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
			var data = imageData.data;
			
			var increment = self.lighten;
			
			for (var i = 0; i < data.length; i += 4) {
				var marked = watermark[i + 3];
				var pixel = i / 4;
				var x = pixel % canvas.width;
				var y = (pixel - x) / canvas.width;
				var diamond = x % 2 == y % 2;
				if (marked && diamond) {
					var red = data[i];
					var green = data[i + 1];
					var blue = data[i + 2];
					if (red + increment > 255 || green + increment > 255 || blue + increment > 255) {
						data[i] = red - increment;
						data[i + 1] = green - increment;
						data[i + 2] = blue - increment;
					} else {
						data[i] = red + increment;
						data[i + 1] = green + increment;
						data[i + 2] = blue + increment;
					}
				}
			}
			
			context.clearRect(0, 0, canvas.width, canvas.height);
			context.putImageData(imageData, 0, 0);
			
			var contents = canvas.toDataURL('image/png');
			self.download.setAttribute('href', contents);
		};
		
		self.analyze = function () {
			var canvas = self.original;
			var context = canvas.getContext('2d');
			
			var original = context.getImageData(0, 0, canvas.width, canvas.height).data;
			
			canvas = self.analyzed;
			context = canvas.getContext('2d');
			
			context.clearRect(0, 0, canvas.width, canvas.height);
			
			var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
			var data = imageData.data;
			
			function getPixel(x, y) {
				var pixel = y * canvas.width + x;
				if (pixel < 0 || pixel > data.length) {
					return null;
				}
				return pixel;
			}
			
			for (var x = 0; x < canvas.width; x++) {
				for (var y = 0; y < canvas.height; y++) {
					var pixel = getPixel(x, y);
					var i = pixel * 4;
					
					var red = original[i];
					var green = original[i + 1];
					var blue = original[i + 2];
					
					var up = getPixel(x, y - 1);
					var down = getPixel(x, y + 1);
					var left = getPixel(x - 1, y);
					var right = getPixel(x + 1, y);
					
					var surround = [up, down, left, right];
					
					var diffs = surround.map(function (pos) {
						if (pos !== null) {
							var index = pos * 4;
							var redDiff = original[index] - red;
							var greenDiff = original[index + 1] - green;
							var blueDiff = original[index + 2] - blue;
							if (redDiff == greenDiff && greenDiff == blueDiff && Math.abs(redDiff) == 1) {
								return redDiff;
							}
							return null;
						}
						return null;
					});
					
					var reduced = diffs.reduce(function (a, b) {
						return a === b ? a : false;
					});
					
					if (reduced) {
						data[i + 3] = 255;
					}
				}
			}
			
			// Loop again to remove outliers
			
			for (var x = 0; x < canvas.width; x++) {
				for (var y = 0; y < canvas.height; y++) {
					var pixel = getPixel(x, y);
					var i = pixel * 4;
					if (data[i + 3]) {
						var up = getPixel(x, y - 1);
						var down = getPixel(x, y + 1);
						var left = getPixel(x - 1, y);
						var right = getPixel(x + 1, y);
						
						var surround = [up, down, left, right];
						var diffs = surround.map(function (pos) {
							if (pos !== null) {
								var index = pos * 4;
								return data[index + 3];
							}
							return false;
						});
						if (!diffs.reduce(function (a, b) {
							return a || b;
						})) {
							data[i + 3] = 0;
						}
					}
				}
			}
			
			context.putImageData(imageData, 0, 0);
		};
	}
]);
</script>
</head>
<body ng-cloak ng-app="WMJS" ng-controller="WMJSCtrl as ctrl">
<md-content class="md-padding" layout="column" layout-align="start center">
<div layout="row" layout-align="center start">
	<div layout="column" layout-align="start center">
		<h1>Watermark Analysis</h1>
		<canvas id="wm-analyzed"></canvas>
	</div>
	<div layout="column" layout-align="start center">
		<h1>Uploaded Image</h1>
		<canvas id="wm-original"></canvas>
	</div>
	<div layout="column" layout-align="start center">
		<h1>Watermark Image</h1>
		<canvas id="wm-watermark"></canvas>
		<canvas id="wm-processed" ng-hide="true"></canvas>
	</div>
</div>
<div layout="row" layout-align="center start" class="md-padding">
	<div class="md-padding">
		<input id="wm-file" type="file">
	</div>
	<md-input-container>
		<label>Watermark</label>
		<input ng-model="ctrl.text" ng-change="ctrl.update()">
	</md-input-container>
	<md-input-container>
		<label>Randomness</label>
		<input ng-model="ctrl.randomness" type="number" ng-change="ctrl.update()">
	</md-input-container>
	<md-input-container>
		<label>Download Name</label>
		<input ng-model="ctrl.name">
	</md-input-container>
	<md-button id="wm-download" class="md-raised md-primary" download="{{ctrl.name}}" ng-href="#">Download Watermarked</md-button>
</div>
</md-content>
</body>
</html>